#heading {
    margin-top: 50px;
    text-align: center;
    color: black;
}

#inputs-container {
    margin: 0 auto;
    width: 41%;
}

#search-box {
    width: calc(100% - 60px);
}

#search-container {
    margin-bottom: 15px;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#buttons > a > button {
    background-color: black;
    color: #ffff;
}

#app-container {
    margin: 0 auto;
    width: 70vw;
    height: 99vh;
}

#content-heading {
    text-align: center;
    margin: 10px;
}

#gallery {
    margin: 0 20%;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

#img-card {
    max-width: 130px;
    max-height: 130px;

}
#img-card img {
    width: 100%;
    height: 100%;
}